<% layout('layouts/boilerplate') -%>
<body>
    <div class="container mt-5">
        <div class="row col-6 offset-3 mb-5 border border-secondary-subtle p-5">
            <h2 class="mb-5">Login for Gypsy Verse</h2>
            <form action="/login" method="post" novalidate class="needs-validation">
                <div class="input-group mb-5">
                    <span class="input-group-text">Username</span>
                    <input type="text" name="username" class="form-control" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                
                  </div>

                  <div class="input-group mb-5">
                    <span class="input-group-text">Password</span>
                    <input type="password" name="password" class="form-control" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                
                  </div>
                 <div class="row">
                  <button type="submit" class="btn btn-primary px-5" style="background-color: #BF3880; color:white; border:none;">Sign In</button>
                  <a class="mt-2 p-0" style="color:#001864;" href="/signup">Dont' have any account?</a>
                 </div>
                  
                  
            </form>
            
        </div>
    </div>
    <br><br><br> <br><br> <br><br> <br>
</body>