<% layout('layouts/boilerplate') -%>
<body>
    <div class="container">
        <div class="row">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Attention!! </strong>&nbsp;<%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="card mb-3">
                <div class="row d-flex justify-content-center">
                    <img src="/img/sorry.png" class="card-img-top" alt="... " style="width: 30rem;">
                </div>
                
                <div class="card-body d-flex justify-content-center align-items-center" style="flex-direction: column;">
                  <h5 class="card-title">We are very sorry</h5>
                  <p class="card-text">Please check out the above error!!!</p>
               
                </div>
              </div>
        </div>
    </div>
</body>
